@charset "UTF-8";
/*
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pix;
}

body{
    background-color: aquamarine;
    }


/*
    main{
        background-color: white;
        width: 500px;
        margin: auto;
        box-shadow: 3px 3px 5px rgba(red, green, blue, alpha) ;
    } */
    aside {
        width: 40%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
    }
    
    aside > p {
        margin: .5rem;
    }
    
p {
    font-family: 'Fira Sans', sans-serif;
}